# Ignore Jupyter notebook images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg


# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.bak
*.old


outputs/*
!outputs/AE/AE_CNN_3D/visualisation/

imgs/
tensorboard/